@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.button {
    position: relative;
    font-weight: bold;
    color: #d0d0d0;
    font-style: inherit;
    padding: 16px 40px;
    border-radius: 40px;
    cursor: pointer;
    right: 5px;
    background: #00f8f8;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    border: none;
    outline: none;
    z-index: 0;
    box-shadow: 0 0 5px #00f8f8, 0 0 25px #f8f8f8;
}

.button:hover {
    box-shadow: 0 0 5px #00f8f8, 0 0 25px #3ef8f8, 0 0 50px #7cf8f8, 0 0 100px #baf8f8, 0 0 200px #f8f8f8;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

::placeholder {
    color: #747070;
}

.todo-app h2 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    font-size: 40px;
    color: #fff;
    -webkit-text-stroke: 0.1vw #383d52;
    text-transform: uppercase;
}

.todo-app h2::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #153677;
    -webkit-text-stroke: 0vw #383d52;
    border-right: 3px solid #153677;
    overflow: hidden;
    animation: animate 6s linear infinite;
}

@keyframes animate {

    0%,
    50%,
    100% {
        width: 0;
    }

    70%,
    90% {
        width: 48%;
    }
}


.todo-app h2 img {
    width: 40px;
    margin-left: 40px;
}

.input_box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0px;
    background: #edeef0;
    border-radius: 30px;
}

input {
    font-size: 20px;
    padding: 20px;
    border: none;
    outline: none;
    flex: 1;
    background: 20px;
}

.placeholder {
    position: absolute;
    left: 30px;
    top: 20px;
    display: flex;
    align-items: center;
    pointer-events: none;
    color: #989898;
}

.box {
    font-size: 20px;
    margin-right: 0px;
}

.slider_box {
    position: relative;
}

.slider {
    position: relative;
    color: #329ffe;
    left: -5px;
    top: 0px;
    opacity: 1;
    font-size: 20px;
    transition: 0.5s;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    top: 50px;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(images/checked.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background: #edeef0;
}

ul li.dragging {
    opacity: 1;
    border: 2px double #DDDDDD;
    border-radius: 30px;
}

button {
    position: relative;
    padding: 10px 10px;
    font-size: 16px;
    top: 20px;
    left: 15px;
    background-color: #007bff;
    color: #fff;
    align-items: center;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

i {
    position: relative;
    letter-spacing: 5px;
    font-size: 25px;
    align-items: center;
    top: 3px;
}
